.projectCard{
  background-color: rgb(50, 10, 70);
  padding: 1em;
  margin-bottom: 1.5em;
  margin-top: 1.5em;
  color: rgb(172, 168, 187);
  border: 2px solid rgb(50, 10, 70);
  border-radius: 1em;
}
.projectCard:hover{
  border: 2px solid rgb(172, 168, 187);
}

a {
  text-decoration: none;
}

h1 {
  margin: 0;
  font-size: 22px;
}

h3 {
  margin: 0;
  font-size: 12px;
}